/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body,.ui-page {
    text-shadow: none;
    font-size: 16px;
}
.highlight {
    color: #A80169;
    font-weight: bold;
    text-shadow: none;
}
.ui-header .ui-title, .ui-footer .ui-title {
    text-align: center;
    margin: .6em auto .8em;
    padding: 0;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
}
.ui-footer {
    text-align: center;
}
.geolocation, .checkedLocation {
    text-align: center;
    width: 100%;
}
.centerme {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}
h2 {
    color: #FF25A5;
    text-align: center;
    font-size: 1.4em;
}
img {
    border: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    border: 0;
}
#tonextstep, #tolaststep {
    display: none;
}
.ui-input-text {
    margin-bottom: 10px !important;
}
.ui-field-contain {
    border: 0 !important;
}
.hide-me {
    display: none;
}
.formsendmessage {
    padding: 30px 0;
}
label, .ui-mobile label, div.ui-controlgroup-label {
    text-transform: none;
}
